<header>
  <div class="merch-container">
  <div class="merch">
    <img src="/mrch1.png" alt="" title="Лого by Виталий Боб">
  </div>
  </div>
  <div class="menu-container">
  <div class="dropdown">
    <div class="circle"></div>
    <button onclick="myFunction()" class="buttonblue">☰</button>
    <div id="myDropdown" class="dropdown-content">
      <div class="circle1"></div>
      <a class="py-2 d-none d-md-inline-block" href="/">Главная</a>
      <a class="py-2 d-none d-md-inline-block" href="/basket">Корзина</a>
      <a class="py-2 d-none d-md-inline-block" href="/contacts">Контакты</a>
      <a class="py-2 d-none d-md-inline-block" href="/support">Публичная оферта</a>
    </div>
  </div>
  </div>
</header>

